 /* id 선택시 #사용, class 선택시 .사용              */
@charset "utf-8";
/* html reset */
header, 
footer, 
section, 
article, 
nav, 
aside, 
figure,
main,
figcaption{
	display: block;	
}

html,
body{
	min-height: 100%;
}

body{
	margin: 0;
	min-width: 320px;
}

body, 
table, 
button, 
input, 
textarea, 
select{
	font-size: 14px;
	font-family: sans-serif;
}

img,
video{
		max-width: 100%;
		height: auto;
}

.vframe{
	max-width: 100%;
	height: 0;
	padding-top: 56.25%;
	position: relative;
}

.vframe>iframe{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}


/* All */
@font-face {
  font-family: NG;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
  src: url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
       url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
       url(https://fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}

body{
	background: -webkit-linear-gradient(#ccc, #fff);
	background: -moz-linear-gradient(#ccc, #fff);
	background: -ms-linear-gradient(#ccc, #fff);
	background: -o-linear-gradient(#ccc, #fff);
	background: linear-gradient( #ccc, #fff);
}
.header>h1{
	font-size: 28px;
	text-shadow: 1px 1px 0 #fff;
	/*text-shadow: x y blur color*/
}

.gnb *{
	box-sizing:content-box;
}

.search>input{
	vertical-align: top;
	border-radius: 3px;
}

.search>[type="search"]{
	border: 1px solid #ccc;
	height: 32px;
	width: 160px;
	box-shadow: 0 0 4px #bbb inset;
}

.search>[type="submit"]{
	width: 50px;
	height: 32px;
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 0 4px #aaa;
}

main{
		background: #fff;
		box-shadow: 0 0 4px #999;
		box-shadow: 0 0 4px rgba(0,0,0,.3);
		border-radius: 8px;
		min-height: 300px;
}

main>article{
	padding: 15px;
}

main,
.lnb,
.aside{
	margin-bottom: 15px;
}

.lnb ul,
.aside ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.lnb{
	text-shadow: 1px 1px 0 #333;
}

.lnb h2{
	background: #666;
	border-radius: 4px 4px 0 0;
	font-size: 14px;
	color: #fff;
	padding: 0 10px;
	height: 32px;
	line-height: 35px;
	margin: 0;
}


/*margin을 0으로 잡아줘야지 user agent stylesheet 마진이 없어짐*/
/*liststyle ctrl space 눌러 무엇이 가능한지 확인*/

.lnb li{
	margin: 1px 0;
}

.lnb a{
	display: block;
	background: #777;
	padding: 0 10px;
	height: 32px;
	line-height: 35px;
	text-decoration: none;
	color: #fff;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.lnb :last-child>a{
	border-radius: 0 0 4px 4px;
}
/*li의 마지막 child의 child인 a를 선택*/

.lnb a:focus,
.lnb a:hover{
	background: #555;
}

.aside{
	border:1px solid #ddd;
	border-radius: 4px;
	padding: 0 10px;
	background: #fff;
	box-sizing: content-box;
}
/*border 값을 정해주지 않으면 텍스트 글꼴 색상을 물려받는다*/
/*padding을 넣으면 박스 사이즈가 그만큼 커짐*/

.aside h2{
	margin: 0;
	border-bottom: 1px solid #ddd;
	font-size: 14px;
	height: 32px;
	line-height: 35px;
}

.aside ul{
	padding: 10px 0;
}

.aside a{
	display: block;
	height: 32px;
	line-height: 35px;
	text-decoration: none;

}

.footer{
	border-top: 1px dotted #ccc;
}

.footer>p{
	text-align: center;
	color: #666;
}

.table-rwd{
	overflow: auto;
}

.table{
	/*border: 1px solid #ccc;*/
	border-collapse: collapse;
}

.table td,
.table th{
	border-bottom: 1px solid #ddd;
	padding: 5px;
	text-align: center;
}

.table td{
	vertical-align: top;
	width: 14%;
}

.sign-up dt{
	font-weight: bold;
	font-size: 16px;
}

.sign-up input+label{
	margin-right: 20px;
}

.table thead th{
	background: #eee;
	border-top: 2px solid #bbb;
}

/* Mobile */
.ctnr{
	margin: 10px;
}

.skip{
	display: none
}

.gnb>h2{
	height: 1px;
	position: absolute;
	overflow: hidden;
	margin: 0;
	opacity: 0;
}

.gnb>button{
	border: 0;
	background: #666; /*background: #666 url(xxx.png) no-repeat*/
	width: 40px;
	height: 3px;
	padding: 36px 0 0 0;
	overflow: hidden;
	/*padding을 36으로했기에 텍스트가 안보임. 어떤 브라우저에는 보이기에 overflow hidden은 넣어줘야 함.
	 버튼 element에는 padding과 height 중 큰걸로 적용 됨(box-sizing이 border-box이기 때문*/
	border-radius: 3px;
	position: absolute;
	top: 15px;
	right: 15px;
	box-sizing: border-box;
}

.gnb>button:before{
	content: "";
	position: absolute;
	/*button의 position이 relative여야지만 버튼을 기준으로 표기됨*/
	top: 4px;
	left: 4px;
	width: 32px;
	height: 4px;
	border-top: 12px double #fff;
	border-bottom: 12px double #fff;
	cursor: pointer;
	box-sizing: content-box;
}

.gnb ul{
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: visible !important;
}

.gnb>ul{
	background: #666;
	border-radius: 4px;
	overflow: hidden;
	display: none;
}

.gnb a{
	display: block;
	background: #666;
	color: #fff;
	line-height: 32px;
	text-decoration: none;
	padding: 0 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.gnb>ul>li>a{
	background: #444
}

.gnb li li{
	border-top: 1px dotted #444;
}

.gnb li li:first-child{
	border: 0;
}

.search{
	margin: 15px 0;
	padding: 0 60px 0 0;
	position: relative;
}
.search>[type="search"]{
	display: block;
	width: 100%;

}
.search>[type="submit"]{
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
}

/* Tablet & Desktop */
@media all and (min-width: 768px){

	body, 
	table, 
	button, 
	input, 
	textarea, 
	select{
		font-family: NG;
	}

	.gnb>button{
		display:none; 
	}

	.ctnr{
		position: relative;
	}

	.search{
		position: absolute;
		top: 0px;
		right: 0px;
		margin: 0;
		width: 200px
	}

	.gnb{
		margin-bottom: 15px;
		position: relative;
	}

	.gnb>ul{
		display: block !important;
		height: 40px;
		border-bottom: 40px solid #fff;
		background: -webkit-linear-gradient(#555 0%, #333 50%, #000 50%, #222 100%);
		background: -moz-linear-gradient(#555 0%, #333 50%, #000 50%, #222 100%);
		background: -ms-linear-gradient(#555 0%, #333 50%, #000 50%, #222 100%);
		background: -o-linear-gradient(#555 0%, #333 50%, #000 50%, #222 100%);
		background: linear-gradient(#555 0%, #333 50%, #000 50%, #222 100%);
		padding: 0 0 0 25px;
	}

	.gnb ul ul{
		display: none;
		left: 20px;
	}

	.gnb>ul>li{
		float: left;
	}

	.gnb a{
		background: none !important;
	}

	.gnb>ul>li>a{
		height: 40px;
		line-height: 44px;
		padding: 0 25px;
	}

	.gnb>ul>.active>a{
		background: #fff !important;
		color: #000;
		font-weight: 700;
		margin-top: 4px;
		line-height: 38px;
		border-radius: 4px 4px 0 0;
	}
	.gnb>ul>.active>ul{
		display: block;
	}

	.gnb ul ul{
		position: absolute;
	}

	.gnb ul ul li:nth-child(3)>a{
		left: 100px;
	}


	.gnb li li{
		border: 0;
		display: inline-block;
	}

	.gnb li li>a{
		color: #666;
		padding: 0 0 0 25px;
		line-height: 40px;

	}

	.body:after{
		content: "";
		display: block;
		clear: both;
	/*clear both로 인해 float을 해제 시켜 향후에 바디 백그라운드 혹은 보더를 넣기 좋게 함*/
	/*clear both는 인라인에는 먹지 않기 때문에 블럭처리를 함*/
	}
}

/* Tablet */
@media all and (min-width: 768px) and (max-width: 1024px){

	.body{
		padding-right: 200px;
	}

	main{
		float: left;
		width: 100%;
		margin-right: -180px;
	}
	.lnb,
	.aside{
		float: right;
		width: 180px;
		box-sizing: border-box;
		position: relative;
		left: 200px;
	}
}

/* Desktop */
@media all and (min-width: 1025px){
	.body{
		padding: 0 200px 0 220px;
	}

	main{
		width: 100%;
		float: left;
		margin-right: -100%;
	}

	.lnb,
	.aside{
		position: relative;
	}

	.lnb{
		float: left;
		width: 200px;
		right: 220px

	}
	.aside{
		float: right;
		width: 158px;
		left: 200px;
	}

	.ctnr{
		max-width: 1280px;
		margin: 0 auto;
		padding: 0 10px;
	}
